<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <title>Masterverse - Share What's On Your Mind</title>
</head>
<body class="has-background-dark" style="text-decoration: none;">
<section class="hero is-fullheight has-background-dark">
  <div class="hero-body">
    <div class="container">
      <div class="box" style="max-width: 600px; margin: auto;">
        <h1 class="title has-text-centered">Post something on Masterverse!</h1>
        <form th:action="@{/create_post}"
              method="post"
              enctype="multipart/form-data"
              th:object="${post}">
          <input type="hidden" name="_csrf" th:value="${_csrf.token}">
          <div class="field">
            <div class="control">
              <label hidden="hidden" for="post_box"></label>
              <textarea id="post_box" name="post_box" th:field="*{postContent}"
              class="textarea" rows="5" placeholder="Write your post here..." required></textarea>
            </div>
          </div>
          <div class="field">
            <label class="label" for="post_images">Upload images (format: JPG):</label>
            <div class="control">
              <input type="file" id="post_images" name="post_images" class="input" multiple>
            </div>
          </div>
          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <button type="submit" class="button is-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>