<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <title>Masterverse - React to a Post</title>
</head>
<body class="has-background-dark" style="text-decoration: none;">
<section class="hero is-fullheight has-background-dark">
  <div class="hero-body">
    <div class="container">
      <div class="box" style="max-width: 600px; margin: auto;">
        <h1 class="title has-text-centered">Tell everyone how you feel about a post!</h1>
        <form th:action="@{/posts/{post_id}/create_comment(post_id=${post_id})}"
              method="post"
              enctype="multipart/form-data"
              th:object="${comment}">
          <input type="hidden" name="_csrf" th:value="${_csrf.token}">
          <div class="field">
            <div class="control">
              <label hidden="hidden" for="comment_box"></label>
              <textarea id="comment_box" name="comment_box" th:field="*{commentContent}"
              class="textarea" rows="5" placeholder="Write your comment here..." required></textarea>
            </div>
          </div>
          <div class="field">
            <label class="label" for="comment_images">Upload images (format: JPG):</label>
            <div class="control">
              <input type="file" id="comment_images" name="uploadedCommentImages" class="input" multiple>
            </div>
          </div>
          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <button type="submit" class="button is-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
</body>
</html>
