<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <title>Masterverse - Your Followers</title>
    </head>
    <body>
        <div th:if="${#authentication == null || #authentication.principal == 'anonymousUser'}">
            <form th:action="@{/login}" method="get" style="display: inline;">
                <button type="submit">Login</button>
            </form>
        </div>

        <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'}">
            <form th:action="@{/logout}" method="get" style="display: inline;">
                <button type="submit">Logout</button>
            </form>
        </div>

        <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'}">
            <form th:action="@{/followers/{id}(id=${loggedInUserId})}" method="get" style="display: inline;">
                <button type="submit">Your Followers</button>
            </form>
        </div>

        <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'}">
            <form th:action="@{/followed_users/{id}(id=${loggedInUserId})}" method="get" style="display: inline;">
                <button type="submit">Your Follows</button>
            </form>
        </div>

        <div th:if="${#authorization.expression('hasAuthority(''admin'')')}">
            <form th:action="@{/register_admin}" method="get">
                <input type="hidden" name="role" value="admin"/>
                <button type="submit">Register an Admin</button>
            </form>
        </div>

        <h1>Users Who Follow You</h1>
        <ul>
            <li th:each="follower : ${followers}">
                <a th:href="@{/users/{id}/profile(id=${follower.getId()})}" th:text="${follower.getUsername()}"></a>
            </li>
        </ul>
    </body>
</html>