<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Masterverse - Home</title>
</head>
<body>
    <h1>Welcome to Masterverse!</h1>

    <a th:href="@{/users}">All Users</a>

    <div th:each="post : ${posts}">
        <h2 th:text="${post.getUserId().getUsername()}"/>
        <p th:text="${post.getPostContent()}"/>
        <div th:each="image : ${postImages}">
            <img th:src="@{/images/image_{id}.jpg(id=${image.getId()})}" alt="Post image">
        </div>
        <small th:text="${{post.getCreatedAt()}}"/>

        <div th:each="comment : ${post.getComments()}">
            <p th:text="${comment.getCommentContent()}"/>
            <small th:text="${{comment.getCreatedAt()}}"/>
        </div>

        <hr>
    </div>
</body>
</html>