<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Masterverse - Home</title>
</head>
<body>
    <h1>Welcome to Masterverse!</h1>

    <div th:if="${#authentication == null || #authentication.principal == 'anonymousUser'}">
        <form th:action="@{/login}" method="post" style="display: inline;">
            <button type="submit">Login</button>
        </form>
    </div>

    <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'}">
        <form th:action="@{/logout}" method="post" style="display: inline;">
            <button type="submit">Logout</button>
        </form>
    </div>

    <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'}">
        <form th:action="@{/create_post}" method="get" style="display: inline;">
            <button type="submit">Post something</button>
        </form>
    </div>

    <a th:href="@{/users}">All Users</a>

    <div th:each="post : ${posts}">
        <h2 th:text="${post.getUserId().getUsername()}"/>
        <p th:text="${post.getPostContent()}"/>
        <div th:each="image : ${post.getPostImages()}">
            <img th:src="@{/images/post_image_{id}.jpg(id=${image.getId()})}" alt="Post image">
        </div>
        <p>
            <span th:text="${likesForAllPosts.get(post.getId())} + ' likes'"/>
        </p>
        <div th:if="${!hasUserLikedAPost.get(post.getId())}">
            <div th:if="${#authentication == null || #authentication.principal == 'anonymousUser'}">
                <form th:action="@{/login}" method="get">
                    <button type="submit">Like</button>
                </form>
            </div>
            <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'
            && post.getUserId().getUsername() != #authentication.getName()}">
                <form th:action="@{/posts/{postId}/like(postId=${post.getId()})}" method="post">
                    <button type="submit">Like</button>
                </form>
            </div>
            <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'
            && post.getUserId().getUsername() == #authentication.getName()}">
                <form th:action="@{/modify_post/{id}(id=${post.getId()})}" method="get">
                    <button type="submit">Edit</button>
                </form>
            </div>
        </div>
        <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'
            && hasUserLikedAPost.get(post.getId()) == true
            && post.getUserId().getUsername() != #authentication.getName()}">
            <form th:action="@{/posts/{postId}/remove_like(postId=${post.getId()})}" method="post">
                <button type="submit">Remove Like</button>
            </form>
        </div>
        <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'}">
            <form th:action="@{/posts/{id}/create_comment(id=${post.getId()})}" method="get">
                <button type="submit">Comment</button>
            </form>
        </div>
        <small th:text="${{post.getCreatedAt()}}"/>

        <hr style="height: 1px; background-color: black; width: 25%;">

        <div th:each="comment : ${post.getComments()}">
            <h2 th:text="${comment.getUserId().getUsername()}"/>
            <p th:text="${comment.getCommentContent()}"/>
            <div th:each="commentImage : ${comment.getCommentImages()}">
                <img th:src="@{/images/comment_image_{id}.jpg(id=${commentImage.getId()})}" alt="Comment image">
            </div>
            <p>
                <span th:text="${likesForComments.get(comment.getId())} + ' likes'"/>
            </p>
            <div th:if="${!hasUserLikedAComment.get(comment.getId())}">
                <div th:if="${#authentication == null || #authentication.principal == 'anonymousUser'}">
                    <form th:action="@{/login}" method="get">
                        <button type="submit">Like</button>
                    </form>
                </div>
                <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'}">
                    <form th:action="@{/comments/{id}/like(id=${comment.getId()})}" method="post">
                        <button type="submit">Like</button>
                    </form>
                </div>
                <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'
            && comment.getUserId().getUsername() == #authentication.getName()}">
                    <form th:action="@{/modify_comment/{id}(id=${comment.getId()})}" method="get">
                        <button type="submit">Edit</button>
                    </form>
                </div>
            </div>
            <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'
            && hasUserLikedAComment.get(comment.getId()) == true}">
                <form th:action="@{/comments/{id}/remove_like(id=${comment.getId()})}" method="post">
                    <button type="submit">Remove Like</button>
                </form>
            </div>
            <small th:text="${{comment.getCreatedAt()}}"/>
        </div>

        <hr>
    </div>
</body>
</html>