<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Masterverse - Login</title>
</head>
<body>
<h1>Log into Masterverse</h1>
<form th:action="@{/login}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Login</button>
</form>
<form th:action="@{/register}" method="get">
    <input type="hidden" name="role" value="admin"/>
    <p>Don't have an account? <a th:href="@{/register}">Register here</a></p>
</form>
</body>
</html>
