<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <title>Masterverse - User Profile</title>
    <script src="/JavaScript/confirmation.js" defer></script>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body class="has-background-dark" style="text-decoration: none;">
<section class="hero is-fullheight has-background-dark">
    <div class="hero-body">
        <div class="container">
            <div class="box" style="max-width: 600px; margin: auto;">
                <h2 class="title has-text-centered">User Profile</h2>
                <figure class="image is-128x128" style="margin: auto;">
                    <img th:src="@{/images/profile_picture_{id}.jpg(id=${modifiedUser.getId()})}"
                         alt="Profile picture">
                </figure>
                <p class="has-text-centered">
                    <span th:text="${modifiedUser.getUsername()}"></span><br>
                    <span th:text="${modifiedUser.getEmail()}"></span>
                </p>
                <form th:action="@{/modify_user/{id}(id=${modifiedUser.getId()})}"
                      method="post"
                      enctype="multipart/form-data"
                      th:object="${modifiedUser}">
                    <input type="hidden" name="_method" value="PUT"/>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <div class="field">
                        <label for="username" class="label">Username:</label>
                        <div class="control">
                            <input type="text" id="username" name="username" class="input" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <label for="email" class="label">Email:</label>
                        <div class="control">
                            <input type="email" id="email" name="email" class="input" placeholder="Email">
                        </div>
                    </div>
                    <div class="field">
                        <label for="password" class="label">Password:</label>
                        <div class="control">
                            <input type="password" id="password" name="password" class="input" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <label for="profilePicture" class="label">Upload profile picture (format: JPG):</label>
                        <div class="control">
                            <input type="file" id="profilePicture" name="uploadedProfilePicture" class="input">
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-centered">
                        <div class="control">
                            <button type="submit" class="button is-primary">Save Changes</button>
                        </div>
                    </div>
                </form>
                <br>
                <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'
                       && modifiedUser.getUsername() == #authentication.getName()
                       || #authorization.expression('hasAuthority(''admin'')')}">
                    <form th:action="@{/delete_user_account/{id}(id=${modifiedUser.getId()})}" method="post">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button type="button" class="button is-danger"
                                        th:data-id="${modifiedUser.getId()}"
                                        th:onclick="confirmAccountDeletion(this.getAttribute('data-id'))">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
