<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Masterverse - Profile</title>
        <script src="/JavaScript/confirmation.js"></script>
        <meta name="_csrf" th:content="${_csrf.token}" />
        <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    </head>
    <body>
        <div th:if="${#authentication == null || #authentication.principal == 'anonymousUser'}">
            <form th:action="@{/login}" method="post" style="display: inline;">
                <button type="submit">Login</button>
            </form>
        </div>

        <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'}">
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button type="submit">Logout</button>
            </form>
        </div>

        <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'}">
            <form th:action="@{/followers/{id}(id=${currentUser.getId()})}" method="get" style="display: inline;">
                <button type="submit">Your Followers</button>
            </form>
        </div>

        <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'}">
            <form th:action="@{/followed_users/{id}(id=${currentUser.getId()})}" method="get" style="display: inline;">
                <button type="submit">Your Follows</button>
            </form>
        </div>

        <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'}">
            <form th:action="@{/create_post}" method="get" style="display: inline;">
                <button type="submit">Post something</button>
            </form>
        </div>

        <div th:if="${#authorization.expression('hasAuthority(''admin'')')}">
            <form th:action="@{/register_admin}" method="get">
                <input type="hidden" name="role" value="admin"/>
                <button type="submit">Register an Admin</button>
            </form>
        </div>

        <h1 th:text="${user.getUsername()}"/>
        <small th:text="'Account created at: ' + ${{user.getCreatedAt()}}"/>
        <br>
        <small th:text="'Follower count: ' + ${{followerCount}}"/>
        <div th:if="${currentUser != null && #authentication.principal != 'anonymousUser'
        && !isUserFollowingOthers}">
            <form th:action="@{/users/{id}/follow(id=${user.getId()})}" method="post">
                <button type="submit">Follow</button>
            </form>
        </div>

        <div th:if="${currentUser != null && #authentication.principal != 'anonymousUser'
        && isUserFollowingOthers}">
            <form th:action="@{/users/{id}/unfollow(id=${user.getId()})}" method="post">
                <button type="submit">Unfollow</button>
            </form>
        </div>

        <h2>Posts</h2>
        <ul>
            <li th:each="post : ${posts}">
                <p th:text="${post.getPostContent()}"/>
                <div th:each="image : ${post.getPostImages()}">
                    <img th:src="@{/images/post_image_{id}.jpg(id=${image.getId()})}" alt="Post image">
                </div>
                <p>
                    <span th:text="${likesForUsersPosts.get(post.getId())} + ' likes'"/>
                </p>
                <div th:if="${currentUser != null && #authentication.principal != 'anonymousUser'}">
                    <div th:if="${!hasUserLikedAPost.get(post.getId()) && currentUser != null}">
                        <form th:action="@{/posts/{postId}/like(postId=${post.getId()})}" method="post">
                            <button type="submit">Like</button>
                        </form>
                        <div th:if="${post.getUserId().getUsername() == currentUser.username}">
                            <form th:action="@{/modify_post/{id}(id=${post.getId()})}" method="get">
                                <button type="submit">Edit</button>
                            </form>
                        </div>
                    </div>
                    <div th:if="${hasUserLikedAPost.get(post.getId())}">
                        <form th:action="@{/posts/{postId}/remove_like(postId=${post.getId()})}" method="post">
                            <button type="submit">Remove Like</button>
                        </form>
                    </div>
                </div>
                <small th:text="${{post.getCreatedAt()}}"/>
                <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'
                && post.getUserId().getUsername() == #authentication.getName()
                || #authorization.expression('hasAuthority(''admin'')')}">
                    <form th:action="@{/delete_post/{id}(id=${post.getId()})}" method="post">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button type="button" th:data-id="${post.getId()}"
                                th:onclick="confirmPostDeletion(this.getAttribute('data-id'))">Delete
                        </button>
                    </form>
                </div>

                <hr style="height: 1px; background-color: black; width: 25%;">

                <div th:each="comment : ${post.getComments()}">
                    <h2 th:text="${comment.getUserId().getUsername()}"/>
                    <p th:text="${comment.getCommentContent()}"/>
                    <div th:each="commentImage : ${comment.getCommentImages()}">
                        <img th:src="@{/images/comment_image_{id}.jpg(id=${commentImage.getId()})}" alt="Comment image">
                    </div>
                    <p>
                        <span th:text="${likesForComments.get(comment.getId())} + ' likes'"/>
                    </p>
                    <div th:if="${!hasUserLikedAComment.get(comment.getId())}">
                        <div th:if="${#authentication == null || #authentication.principal == 'anonymousUser'}">
                            <form th:action="@{/login}" method="get">
                                <button type="submit">Like</button>
                            </form>
                        </div>
                        <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'
                        && comment.getUserId().getUsername() != #authentication.getName()}">
                            <form th:action="@{/comments/{id}/like(id=${comment.getId()})}" method="post">
                                <button type="submit">Like</button>
                            </form>
                        </div>
                        <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'
                        && comment.getUserId().getUsername() == #authentication.getName()}">
                            <form th:action="@{/modify_comment/{id}(id=${comment.getId()})}" method="get">
                                <button type="submit">Edit</button>
                            </form>
                        </div>
                    </div>
                    <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'
                    && hasUserLikedAComment.get(comment.getId()) == true}">
                        <form th:action="@{/comments/{id}/remove_like(id=${comment.getId()})}" method="post">
                            <button type="submit">Remove Like</button>
                        </form>
                    </div>
                    <small th:text="${{comment.getCreatedAt()}}"/>
                    <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'
                    && comment.getUserId().getUsername() == #authentication.getName()}">
                        <form th:action="@{/delete_comment/{id}(id=${comment.getId()})}" method="post">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <button type="button" th:data-id="${comment.getId()}"
                                    th:onclick="confirmCommentDeletion(this.getAttribute('data-id'))">Delete
                            </button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>

        <a th:href="@{/users}">Back to Users</a>
        <br>
        <a th:href="@{/}">Back to Home</a>
    </body>
</html>