<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
        <title>Masterverse - Registration</title>
    </head>
    <body class="has-background-dark" style="text-decoration: none;">
        <section class="hero is-fullheight has-background-dark">
            <div class="hero-body">
                <div class="container">
                    <div class="box" style="max-width: 400px; margin: auto;">
                        <h1 class="title has-text-centered">Register an Admin account</h1>
                        <form th:action="@{/register}" method="post">
                            <div class="field">
                                <label for="username" class="label">Username:</label>
                                <div class="control">
                                    <input type="text" id="username" name="username" class="input" required>
                                </div>
                            </div>
                            <div class="field">
                                <label for="email" class="label">Email:</label>
                                <div class="control">
                                    <input type="email" id="email" name="email" class="input" required>
                                </div>
                            </div>
                            <div class="field">
                                <label for="password" class="label">Password:</label>
                                <div class="control">
                                    <input type="password" id="password" name="password" class="input" required>
                                </div>
                            </div>
                            <input type="hidden" name="role" value="admin"/>
                            <div class="field is-grouped is-grouped-centered">
                                <div class="control">
                                    <button type="submit" class="button is-primary">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>