<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Masterverse - All Users</title>
</head>
<body>
    <div th:if="${#authentication == null || #authentication.principal == 'anonymousUser'}">
        <form th:action="@{/login}" method="get" style="display: inline;">
            <button type="submit">Login</button>
        </form>
    </div>

    <div th:if="${#authentication != null && #authentication.principal != 'anonymousUser'}">
        <form th:action="@{/logout}" method="get" style="display: inline;">
            <button type="submit">Logout</button>
        </form>
    </div>
    <h1>Registered Users</h1>
    <ul>
        <li th:each="user : ${users}">
            <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getUsername()}"></a>
        </li>
    </ul>
    <a th:href="@{/}">Back to Home</a>
</body>
</html>